@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Machine

<h2>Add a Engineer</h2>

<h4>Add a Licensed Engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId);

  @Html.Label("Select Engineer");
  @Html.DropDownList("EngineerId");

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>