@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<div class="form">
  <h2>Machine Details</h2>
  <hr />
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

  @if(@Model.JoinEntities.Count == 0)
  {
    <p>This machine does not contain any engineers</p>
  }
  else
  {
    <h4>Licensed Engineers:</h4>
    @foreach(var join in Model.JoinEntities)
    {
      <p>@join.Engineer.Name</p>
    }
  }

  <p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Add a Engineer", "AddEngineer", new { id = Model.MachineId })</p>
</div>