<div class="header row">
  <div class="col-7">
    <h1>@Html.ActionLink("Dr. Sillystringz Factory", "Index", "Home")</h1>      
  </div>
  <div class="link col-5">
    @Html.ActionLink("Machines", "Index", "Machines")  |  @Html.ActionLink("Engineers", "Index", "Engineers")  |  @Html.ActionLink("New Equipment", "Create", "Machines")  |  @Html.ActionLink("New Hires", "Create", "Engineers")
  </div>

</div>
