@{
  Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/styles.css">

@using Factory.Models;

<h1>Dr. Sillystringz Factory</h1>

<div class="machines">
  <h2>Machines | @Html.ActionLink("New Machine", "Create", "Machines")</h2>

  @if (@Model.Count == 0)
  {
    <h3>No machines have been added yet!</h3>
  } 

  <ul>
    @foreach(Machine machine in ViewBag.Machine)
    {
      <p>@Html.ActionLink($"{machine.Name}", "Details", "Machines", new { id = machine.MachineId })</p>
    }
  </ul>  
</div>


<div class="engineers">
  <h2>Engineers | @Html.ActionLink("New Engineer", "Create", "Engineers")</h2>

  @if (@Model.Count == 0)
  {
    <h3>No engineers have been added yet!</h3>
  } 

  <ul>
    @foreach (Engineer engineer in ViewBag.Engineer)
    {
      <p>@Html.ActionLink($"{engineer.Name}", "Details", "Engineers", new { id = engineer.EngineerId })</p>
    } 
  </ul>  
</div>

